<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Diagnostic adb transport exists only in debug APKs, never release. -->
        <activity android:name=".Fdb3ExtensionActivity" android:exported="true"
            android:excludeFromRecents="true" android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".Fdb3ChecklistViewerActivity" android:exported="true"
            android:excludeFromRecents="true" android:label="THREAD checklist"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
